.fadeIn{
    animation: fadeIn .7s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.line-animation{
    animation: line-animation 2s;
    height: 1px;
    background-color: black;
}

body[data-bs-theme="dark"] .line-animation{
    background-color: white;
}

@keyframes line-animation {
    0% { width: 0; }
    100% { width: 100%; }
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    font-size: .7rem;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }

  .checkbox:checked + .checkbox-label{
    background-color: gray;
  }
  
  
  